<app-menu></app-menu>
<div style="margin-left: 10%;">

  <form class="content" (submit)="insertado()">
    <div class="submit-form">

      <div class="row">
        <div class="col-lg-6">
          <h6>Registro de Usuario</h6>
        </div>
      </div>
      <div class="row" style="margin-top: 2%">

        <div class="col-lg-2">
          <label for="dni">DNI</label>
          <input type="text" class="form-control" name="dni" id="dni" [(ngModel)]="usuario.dni" />
        </div>
        <div class="col-lg-2">
          <label for="Nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="usuario.nombre" />
        </div>
        <div class="col-lg-2">
          <label for="Nombre">User Name</label>
          <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="usuario.login" />
        </div>
        <div class="col-lg-2">
          <label for="priape">Primer Apellido</label>
          <input type="text" class="form-control" name="priape" id="priape" [(ngModel)]="usuario.primerapellido" />
        </div>
        <div class="col-lg-2">
          <label for="segape">Segundo Apellido</label>
          <input type="text" class="form-control" name="segape" id="segape" [(ngModel)]="usuario.segundoapellido" />
        </div>

      </div>

      <div class="row" style="margin-top: 1%">
        <div class="col-lg-2">
          <label for="telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)]="usuario.telefono" />
        </div>
        <div class="col-lg-2">
          <label for="celular">Celular</label>
          <input type="text" class="form-control" name="celular" id="celular" [(ngModel)]="usuario.celular" />
        </div>
        <div class="col-lg-2">
          <label for="direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="direccion" [(ngModel)]="usuario.direccion" />
        </div>

        <div class="col-lg-2">
          <label for="correo">Correo</label>
          <input type="email" class="form-control" name="correo" id="correo" [(ngModel)]="usuario.correo" />
        </div>

        <div class="col-lg-2">
          <label for="contraseña">Contraseña</label>
          <input type="text" class="form-control" name="contraseña" id="contraseña" [(ngModel)]="usuario.password" />
        </div>
      </div>
      <div class="row" style="margin-top:1%">
        <div class="col-lg-4">
          <label for="departamento">Departamento</label>
          <select id="departamento" name="departamento" class="form-control"
            [(ngModel)]="usuario.idUbigeo!.departamento" (change)="cargaProvincia()">
            <option value="-1"> [Seleccione] </option>
            <option *ngFor="let aux of departamentos" value="{{aux}}">
              {{aux}}
            </option>
          </select>
        </div>
        <div class="col-lg-3">
          <label for="provincia">Provincia</label>
          <select id="provincia" name="provincia" class="form-control" [(ngModel)]="usuario.idUbigeo!.provincia"
            (change)="cargaDistrito()">
            <option value="-1"> [Seleccione] </option>
            <option *ngFor="let aux of provincias" value="{{aux}}">
              {{aux}}
            </option>
          </select>
        </div>
        <div class="col-lg-3">
          <label for="distrito">Distrito</label>
          <select id="distrito" name="distrito" class="form-control" [(ngModel)]="usuario.idUbigeo!.idUbigeo">
            <option value="-1"> [Seleccione] </option>
            <option *ngFor="let aux of distritos" value="{{aux.idUbigeo}}">
              {{aux.distrito}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 1%">
      <div class="col-lg-6">
        <button class="btn btn-success">Enviar</button>
      </div>
    </div>
    <div class="row"    style="margin-right: 150px;margin-top: 2%;">
      <div class="col-md-12">
        <div class="content">
  
          <table id="id_table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th style="width: 5%">#</th>
                <th style="width: 15%">Nombre</th>
                <th style="width: 20%">Nombre de Usuario</th>
                <th style="width: 20%">Primer Apellido</th>
                <th style="width: 20%">Segundo Apellido</th>
                <th style="width: 15%">Telefono</th>
                <th style="width: 15%">Celular</th>
                <th style="width: 15%">Correo</th>               
                <th style="width: 10%">Estado</th>
                <th style="width: 25%">Ubigeo</th>
              </tr>
            </thead>
            <tbody>
              <tr tr *ngFor="let aux of usuarios | paginate: {itemsPerPage: 5, currentPage: pageActual}">
                <td>{{aux.idUsuario}}</td>
                <td>{{aux.nombre}}</td>
                <td>{{aux.login}}</td>
                <td>{{aux.primerapellido}}</td>
                <td>{{aux.segundoapellido}}</td>
                <td>{{aux.telefono}}</td>
                <td>{{aux.celular}}</td>
                <td>{{aux.correo}}</td>
                <td>{{aux.estado==true?'Activo':'Inactivo'}}</td>
                <td>{{ aux.idUbigeo?.departamento }} - {{ aux.idUbigeo?.provincia }} - {{ aux.idUbigeo?.distrito }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </form>
</div>