<app-menu></app-menu>
<div>

  <form class="content">
    <div class="submit-form">

      <div class="row">
        <div class="col-lg-12">
          <h6>Registro de Usuario</h6>
        </div>
      </div>

      <div class="row" style="margin-top: 3%">

        <div class="col-lg-3">
          <label for="dni">DNI</label>
          <input type="text" class="form-control" name="dni" id="dni" />
        </div>
        <div class="col-lg-3">
          <label for="Nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre" />
        </div>
        <div class="col-lg-3">
          <label for="priape">Primer Apellido</label>
          <input type="text" class="form-control" name="priape" id="priape" />
        </div>
        <div class="col-lg-3">
          <label for="segape">Segundo Apellido</label>
          <input type="text" class="form-control" name="segape" id="segape" />
        </div>
      </div>

      <div class="row" style="margin-top: 3%">

        <div class="col-lg-4">
          <label for="telefono">Telefono</label>
          <input type="number" class="form-control" name="telefono" id="telefono" />
        </div>

        <div class="col-lg-4">
          <label for="celular">Celular</label>
          <input type="number" class="form-control" name="celular" id="celular" />
        </div>
        <div class="col-lg-4">
          <label for="direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="direccion" />
        </div>
      </div>
      <div class="row" style="margin-top: 3%">

        <div class="col-lg-4">
          <label for="correo">Correo</label>
          <input type="email" class="form-control" name="correo" id="correo" />
        </div>

        <div class="col-lg-4">
          <label for="contraseña">Contraseña</label>
          <input type="text" class="form-control" name="contraseña" id="contraseña" />
        </div>

        <div class="col-lg-4">
           <label for="tipo">Tipo</label>
           <select id="idTipoReclamo" name="idTipoReclamo" class="form-control">
           <option value="-1"> [Seleccione] </option>
           <option value="">Administrador</option>
           <option value="">Counter</option>
           </select>
        </div>
      </div>
      <div class="row" style="margin-top:3%">
        <div class="col-lg-4">
          <label for="departamento">Departamento</label>
          <select id="departamento" name="departamento" class="form-control">
          <option value="-1"> [Seleccione] </option>
          <option value=""> </option>
          </select>
        </div>
        <div class="col-lg-4">
          <label for="provincia">Provincia</label>
          <select id="provincia" name="provincia" class="form-control">
          <option value="-1"> [Seleccione] </option>
          <option value=""> </option>
          </select>
        </div>
        <div class="col-lg-4">
          <label for="distrito">Distrito</label>
          <select id="distrito" name="distrito" class="form-control">
          <option value="-1"> [Seleccione] </option>
          <option value=""> </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 3%">
      <div class="col-lg-12">
        <button class="btn btn-success">Enviar</button>
      </div>
    </div>


</form>


</div>
