<app-menu></app-menu>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--es como el JSTL - customTag-->

<head th:replace="principal::head">
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>

<div style="margin-top: 4%; width: 70%; margin-left: 15%;">
  <form class="content" (ngSubmit)="saveDepartamento()" >
    <div class="submit-form" style="margin-left: 20%;">

      <div class="row">
        <div class="col-lg-12">
          <h6>REGISTRO DE DEPARTAMENTO</h6>
        </div>
      </div>
      <div class="row" style="margin-top: 3%">

        <div class="col-lg-4">
          <label for="numdepa">Numero de Departamento</label>
          <input type="number" class="form-control" name="numdepa" id="numdepa" required
            [(ngModel)]="departamento.numdepartamento" />
        </div>

        <div class="col-lg-4">
          <label for="fechentreg">Fecha de Entrega</label>
          <input type="date"  class="form-control" name="fechentreg" id="fechentreg" required
            [(ngModel)]="departamento.fechaentrega"    />
        </div>
      </div>
      <div class="row" style="margin-top: 3%">
        <div class="col-lg-4">
          <label for="fechentreg">Precio</label>
          <input type="number" class="form-control" name="fechentreg" id="fechentreg" required
            [(ngModel)]="departamento.precio" />
        </div>
        <div class="col-lg-4">
          <label for="precio">Numero Piso</label>
          <input type="number" class="form-control" name="precio" id="precio" required
            [(ngModel)]="departamento.nropiso" />
        </div>
      </div>
      <div class="row" style="margin-top: 3%">

        <div class="col-lg-4">
          <label for="edificio">Edificio</label>
          <select id="edificio" name="edificio" class="form-control" required
            [(ngModel)]="departamento.codedificio!.codedificio">
            <option value="-1"> [Seleccione] </option>
            <option *ngFor="let aux of edificios" value="{{aux.codedificio}}">
              {{ aux.nomedificio }}
            </option>
          </select>
        </div>
        <div class="col-lg-4" hidden>
          <label for="usuario">Usuario</label>
          <select id="usuario" name="usuario" class="form-control" required
            [(ngModel)]="departamento.idUsuario!.idUsuario">
            <option *ngFor="let aux of usuarios" value="{{aux.idUsuario}}">
              {{ aux.nombre }}
            </option>
          </select>
        </div>

      </div>
      <div class="row" style="margin-top: 3%">
        <div class="col-lg-12">
          <button class="btn btn-success">Enviar</button>
        </div>
      </div>
    </div>
    <hr style="color: yellow;" width="100%" size="10%" noshade="noshade">
    <!-- Tabla Departamento-->   
    <div class="row" style="margin-top: 3%">
      <table class="table table-hover" id="tb">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Numero Departamento</th>
            <th>Fecha Entrega</th>
            <th>Precio</th>
            <th>Nro Piso</th>
            <th>Edifico</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let aux of departamentos  | paginate: {itemsPerPage: 5, currentPage: pageActual}">
            <td>{{ aux.coddepartamento}}</td>
            <td>{{ aux.numdepartamento}}</td>
            <td>{{ aux.fechaentrega}}</td>
            <td>{{ aux.precio}}</td>
            <td>{{ aux.nropiso}}</td>
            <td>{{ aux.codedificio!.nomedificio}}</td>
            <td>{{ aux.idUsuario!.nombre}} {{ aux.idUsuario!.primerapellido}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>  
  </form>
</div>