<!DOCTYPE html>
<app-menu></app-menu>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container" style="margin-left: 10%;width: 80%;">
    <form>

      <div class="form-group">
        <div class="form-group col-md-6">
          <label for="validationServer01">Fecha: </label> <input type="date" class="form-control"
            id="validationServer01" name="txtFecha" value=" ${c.fechaNacimiento}" required>
          <div id="validationServer04Feedback" class="invalid-feedback">
            Seleccione una fecha</div>
        </div>
        <div class="form-group">
          <div class="form-group col-md-6">
            <label for="validationServer01">Hora:: </label> <input type="time" class="form-control"
              id="validationServer01" name="txtFecha" required>
            <div id="validationServer04Feedback" class="invalid-feedback">
              Seleccione una fecha</div>
          </div>


          <div class="form-group">
            <div class="form-group col-md-6">
              <label for="inputState">Tipo</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>


            <div class="form-group">
              <div class="form-group col-md-6">
                <label for="inputAddress">descripcion</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
              </div>


              <div class="form-group">
                <div class="form-group col-md-6">
                  <label for="inputState">Usuario</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>



                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
 
    </form>
  </div>
</body>

</html>